body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

input {
  margin: 15px 0;
}

#status {
  font-weight: bold;
  margin-bottom: 20px;
}

#output img {
  width: 90%;
  max-width: 600px;
  margin: 15px auto;
  display: block;
  border: 1px solid #ccc;
  background: white;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

